header{
  background-color: white;
  font-size: 21;
  margin:-21px;
}

img{
  float:right;
  width:500px;
  height:500px;
}

body{
  margin:0;
  background-color: lightgrey;
  padding: 20px;
}

div{
  word-wrap: normal;
  width: 300px;
}

h1{
  color: black;
}

h2{
  color: white;
}

h3{
  color: white;
}

ul{
  list-style-type: none;
  padding:20px;
}

ul1{

}

ul2{header{header{
  background-color: white;
  font-size: 21;
  margin:-21px;
}

img{
  background-attachment: fixed;
  width:300px;
  height:300px;
  float:right;
  margin-top:1px;
}

body{

  margin:0;
  background-color: lightgrey;
  padding: 20px;
}

div{
  word-wrap: normal;
  width: 300px;
}

h1{
  color: black;
}

h2{
  color: white;
}

h3{
  color: white;
}

ul{
  list-style-type: none;
  padding:20px;
}

ul1{

}

ul2{
  margin:0;
  padding:0;
}

li1{
  margin:0;
  padding:0;
  word-wrap: normal;
  width: 200px;
}

  background-color: white;
  font-size: 21;
  margin:-21px;
}

img{
  background-attachment: fixed;
  width:300px;
  height:300px;
  float:right;
  margin-top:1px;
}

body{

  margin:0;
  background-color: lightgrey;
  padding: 20px;
}

div{
  word-wrap: normal;
  width: 300px;
}

h1{
  color: black;
}

h2{
  color: white;
}

h3{
  color: white;
}

ul{
  list-style-type: none;
  padding:20px;
}

ul1{

}

ul2{
  margin:0;
  padding:0;
}

li1{
  margin:0;
  padding:0;
  word-wrap: normal;
  width: 200px;
}

  margin:0;
  padding:0;
}

li1{
  margin:0;
  padding:0;
  word-wrap: normal;
  width: 200px;
}
