body{
  background-color: pink;
  padding: 20px;
}

h1{
  color: black;

}

h2{
  color: white;
}

h3{
  color: white;
}

ul{
  list-style-type: none;
}

ul1{
  list-style-type: square;
}

li1{
  margin-right: 20px;
}
